/*----FOOTER----*/
.footer { 
    grid-area: footer;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    padding: 10px;
    margin-top: 15px;
 }

 /*----ANIMACIONES----*/
.wrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    animation-name: logo-footer;
    animation-duration: 40s;
    animation-delay: 0.1s;
    animation-timing-function: ease;


}