div {
    background-color: red;

    p {
        font-size: 2em;
        color: black;

        span {
            font-weight: 600;
            a {
                text-decoration: none;
            }
        }
    }
}
