/*----MAIN----*/
.main {
    grid-area: main;
}

.hero {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(#be1b7588, #be1b7588), url(../images/pexels-sevenstorm-juhaszimrus-704767.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    h2 {
        font-weight: 900;
        font-size: 100px;
        line-height: 80px;
        border: 2px solid #ffffff;
        padding: 25px;
    }

    p {
        margin: 20px;
        font-size: 40px;
        font-weight: 300;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        background-color: #000000;
        padding: 15px;
    }
}

.hero-nosotros {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(#391bbe88, #be1b7588);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    p {
        margin: 20px;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }
}

.hero-ideas {
    max-width: 100%;
    height: 100vh;
    background-color: #3d0214;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    p {
        margin: 20px;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }
}

.hero-portfolio {
    max-width: 100%;
    height: 100vh;
    background-color: #00410b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    p {
        margin: 20px;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }
}

.hero-contacto {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(#391bbe88, #be1b7588), url(../images/pexels-miguel-á-padriñán-1111368.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    p {
        margin: 20px;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }
}

.productos {

    h2 {
        background-color: #000000;
        color: #ffffff;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        flex-wrap: wrap;

        div {
            border: 1px solid #808080;
            width: 280px;
            height: 380px;
            text-align: center;
            background-color: #000000;
            color: #ffffff;
            margin-top: 10px;
            box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 75%);
            -webkit-box-shadow: 4px 5px 8px 2px rgb(0 0 0 / 75%);
            -moz-box-shadow: 4px 5px 8px 2px rgba(0, 0, 0, 0.75);

            a {
                text-decoration: none;
                color: #000000;
                background-color: #ffffff;
                font-weight: 900;
                font-size: 10px;
                padding: 5px;
            }

            h3 {
                margin-bottom: 12px;
                margin-top: 9px;
            }

            img {
                width: 100%;
                height: 280px;
            }
        }
        
    }
}

.galeria {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.galeria-portfolio {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.75);
        }
    }
}

.grid-container {
    position: relative;

    h3 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #ffffff;
    }

}

.img-3 {
    grid-row-start: span 2;
}